<section class="block container">
  <header class="block__header feature__header">
    <h2>Access Clipboard Anywhere</h2>
    <p>
      Whether you're on the go, or at your computer, you can access all your
      Clipboard snippets in a few simple clicks.
    </p>
  </header>
  <div class="feature__content">
    <picture>
      <source
        type="image/webp"
        srcset="
          images/image-devices.webp    1x,
          images/image-devices@2x.webp 2x
        " />
      <source
        type="image/png"
        srcset="images/image-devices.png 1x, images/image-devices@2x.png 2x" />
      <img class="feature__image" src="images/image-devices@2x.png" alt=""
    /></picture>
  </div>
</section>
