<section class="block block--ash">
  <footer class="grid grid--1x5 footer">
    <svg class="icon icon--small">
      <use xlink:href="images/sprite.svg#logo"></use>
    </svg>
    <ul class="list footer__info">
      <li><a href="#">FAQs</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Privacy policy</a></li>
      <li><a href="#">Press Kit</a></li>
      <li><a href="#">Install Guide</a></li>
    </ul>
    <div class="footer__social">
      <svg class="icon icon--small footer__icon">
        <use xlink:href="images/sprite.svg#icon-facebook"></use>
      </svg>
      <svg class="icon icon--small footer__icon">
        <use xlink:href="images/sprite.svg#icon-twitter"></use>
      </svg>
      <svg class="icon icon--small footer__icon">
        <use xlink:href="images/sprite.svg#icon-instagram"></use>
      </svg>
    </div>
  </footer>
</section>
