<div class="block container">
  <div class="grid grid--1x3">
    <article class="media utility__media">
      <svg class="icon icon--small">
        <use xlink:href="images/sprite.svg#icon-blacklist"></use>
      </svg>
      <div class="media__content">
        <h2>Create blacklists</h2>
        <p>
          Ensure sensitive information never makes its way to your clipboard by
          excluding certain sources.
        </p>
      </div>
    </article>
    <article class="media utility__media">
      <svg class="icon icon--small">
        <use xlink:href="images/sprite.svg#icon-text"></use>
      </svg>
      <div class="media__content">
        <h2>Plane text snippets</h2>
        <p>
          Remove unwanted formatting from copied text for a consistent look.
        </p>
      </div>
    </article>
    <article class="media utility__media">
      <svg class="icon icon--small">
        <use xlink:href="images/sprite.svg#icon-preview"></use>
      </svg>
      <div class="media__content">
        <h2>Sneak preview</h2>
        <p>Quick preview of all snippets on your Clipboard for easy access.</p>
      </div>
    </article>
  </div>
</div>
